.wrap { 
    padding: 25px; 
    text-align: center; 
    box-shadow: 0 4px 25px -4px #9da5ab; 
    background-color: white;
    color: black;
    padding-bottom: 10px;
}

body {
    background-color: #D7E6FF;
}

article{
    padding-bottom: 147px;
}

footer{
    padding-left: 20px;
}

/* ----------------------- POEM ----------------------- */

#centered_content {
    margin: 0px -1em 20px -1em;
    /*background-color: #ffd2d2;*/
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.center{  
    padding-top: 15px;
    margin: auto;
    width: auto;
    text-align: center;
}


#close{
    color: black;
    text-decoration: none;
    font-size: small;   
}

#poem{
    top: 50%;
    margin-top: 50px;
}

/* ---------------------------------------------------- */

/* -------------------- Layout -------------------- */

article .center {
    display: grid;
    grid-template-rows: [title] 40px [poem] 386px [close_button];
    text-align: center;
}


/* ------------------------------------------------ */


/* --------------- PREV & NEXT BUTTONS --------------- */
.prev, .next {
    cursor: pointer;
    position: absolute;
    width: 5px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    bottom: 65%;
}

.next {
    left: 325px;
    border-radius: 3px 0 0 3px;
}

.prev{
    right: 325px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
  }

/* --------------------------------------------------- */


/* ----------------- FADING EFFECT ----------------- */

#poem {
    animation-name: fade;
    animation-duration: 1s;
}

#image{
    margin: 50px 10px;
    height:260px;
    animation: slide-in 0.2s both;
    animation-name: fade;
    width: 300px;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slide-in {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

 /* -------------------------------------------------- */


/* ------------------------------------------------------------- */
/* ---------------------- MEDIA FOR WIDTH ---------------------- */


@media only screen and (min-width: 360px) {
    .next {
        left: 310px;
    }
    
    .prev{
        right: 315px;
    }
} 

/* -------------------------------------------------- */

@media only screen and (min-width: 370px) {

    .next {
        left: 320px;
    }
    
    .prev{
        right: 320px;
    }

}

 /* -------------------------------------------------- */

 @media only screen and (min-width: 380px) {

    .next {
        left: 330px;
    }
    
    .prev{
        right: 330px;
    }
} 

 /* -------------------------------------------------- */

 @media only screen and (min-width: 390px) {

    .next {
        left: 340px;
    }
    
    .prev{
        right: 340px;
    }
} 

 /* -------------------------------------------------- */

 @media only screen and (min-width: 400px) {

    .next {
        left: 350px;
    }
    
    .prev{
        right: 352px;
    }

    p {
        font-size:initial;
    }

    article .center {
        grid-template-rows: [title] 40px [poem] 386px [close_button];
    }
} 

/* -------------------------------------------------- */

@media only screen and (min-width: 410px) {

    .prev, .next{
        bottom: 60%;
    }

    .next {
        left: 360px;
    }
    
    .prev{
        right: 362px;
    }
}

 /* -------------------------------------------------- */

 @media only screen and (min-width: 420px) {

    .next {
        left: 370px;
    }
    
    .prev{
        right: 372px;
    }

} 


/* -------------------------------------------------- */


/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */


/* -------------------------------------------------------------- */
/* ---------------------- MEDIA FOR HEIGHT ---------------------- */

@media only screen and (min-height: 600px) {

    .prev, .next{
        bottom: 50%;
    }

    article{
        padding-bottom: 20px;
    } 
}

@media only screen and (min-height: 650px) {

    .prev, .next{
        bottom: 55%;
    }

    article{
        padding-bottom: 50px;
    } 
}

@media only screen and (min-height: 700px) {

    .prev, .next{
        bottom: 60%;
    }

    article{
        padding-bottom: 50px;
    } 
}

@media only screen and (min-height: 750px) {

    .prev, .next{
        bottom: 60%;
    }

    article{
        padding-bottom: 50px;
    } 
}

@media only screen and (min-height: 800px) {

    .prev, .next{
        bottom: 63%;
    }

    article{
        padding-bottom: 80px;
    } 
}

@media only screen and (min-height: 850px) {

    .prev, .next{
        bottom: 65%;
    }

    article{
        padding-bottom: 100px;
    } 
}


/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* ---------------------- DISPLAY OF COMPUTER ---------------------- */

@media only screen and (min-width: 768px) and (min-height: 700px){
    
    footer{
        padding-left: 0px;   
    }

    article { 
        padding: 42px 40px; 
    }

    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 10px 40px;
    }

    p {
        font-size:initial;
    }

    /* ----------------------- POEM ----------------------- */

    #centered_content {
        margin: 0px auto 20px auto;
        height: 400px;
        width: 600px;
    }

    /* ---------------- PREV & NEXT BUTTONS ---------------- */
    .prev, .next{
        bottom: 55%;
    }

    .next {
        left: 978px;
    }

    .prev{
        right: 978px;
    }

    /* -------------------- FADING EFFECT -------------------- */

    .prev, .next {
        font-size: 18px
    }
    
    /* ------------------------ IMAGE ------------------------ */

    #image{
        margin-top: 47px;
        height:280px;
        animation: slide-in 0.2s both;
        animation-name: fade;
        width: 380px;
    }

    /* -------------------- Layout -------------------- */

    article .center {
        grid-template-rows: [title] 15px [poem] 357px [close_button];
    } 
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */