.wrap { 
    padding: 25px; 
    text-align: center; 
    box-shadow: 0 4px 25px -4px #9da5ab; 
    background-color: white;
    color: black;
    padding-bottom: 10px;
}

body {
    background-color: #D7E6FF;
}

article{
    padding-bottom: 130px;
}

footer{
    padding-left: 20px;
}

p {
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
}

.poem{
    top: 50%;
}

/* ----------------------- POEM ----------------------- */

#centered_content {
    margin: 0px -1em 20px -1em;
    background-color: #ffd2d2;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.center{  
    padding-top: 15px;
    margin: auto;
    width: auto;
    text-align: center;
}


#close{
    color: black;
    text-decoration: none;
    font-size: small;   
}

/* ---------------------------------------------------- */

/* -------------------- Layout -------------------- */

article .center {
    display: grid;
    grid-template-rows: [title] 70px [poem] 480px [close_button];
    text-align: center;
  } 

/* ------------------------------------------------ */

/* --------------- PREV & NEXT BUTTONS --------------- */
.prev, .next {
    cursor: pointer;
    position: absolute;
    color: black;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.2);
}

/* --------------------------------------------------- */

/* ----------------- FADING EFFECT ----------------- */

#poem {
    animation-name: fade;
    animation-duration: 1s;
}

#image{
    padding: 10px 0px 0px 0px;
    height: 80%;
    width: 100%;
    animation: slide-in 0.2s both;
    animation-name: fade;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes slide-in {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }

/* --------------------------------------------------- */

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

/* ------------------------------------------------------------- */
/* ---------------------- MEDIA FOR WIDTH ---------------------- */
/* -------------------------------------------------- */
/*
 @media only screen and (min-width: 360px) {

    .next {
        left: 310px;
    }
    
    .prev{
        right: 315px;
    }

} 

@media only screen and (min-width: 370px) {

    .next {
        left: 320px;
    }
    
    .prev{
        right: 320px;
    }

}


 @media only screen and (min-width: 380px) {

    .next {
        left: 330px;
    }
    
    .prev{
        right: 330px;
    }

    p {
        font-size:13px;
    }
} 


 @media only screen and (min-width: 390px) {

    .next {
        left: 340px;
    }
    
    .prev{
        right: 340px;
    }

} 

 @media only screen and (min-width: 400px) {

    .next {
        left: 350px;
    }
    
    .prev{
        right: 352px;
    }

} 


@media only screen and (min-width: 410px) {

    .next {
        left: 360px;
    }
    
    .prev{
        right: 362px;
    }

}

 @media only screen and (min-width: 420px) {

    .next {
        left: 370px;
    }
    
    .prev{
        right: 370px;
    }

} 

/* -------------------------------------------------- */


/* -------------------------------------------------------------- */
/* ---------------------- MEDIA FOR HEIGHT ---------------------- */
/*
@media only screen and (min-height: 600px) {

    .prev, .next{
        bottom: 40%;
    }
}

@media only screen and (min-height: 650px) {

    .prev, .next{
        bottom: 52%;
    }
}

@media only screen and (min-height: 700px) {

    .prev, .next{
        bottom: 56%;
    }
}

@media only screen and (min-height: 750px) {

    .prev, .next{
        bottom: 59%;
    }
}

@media only screen and (min-height: 800px) {

    .prev, .next{
        bottom: 62%;
    }

}

@media only screen and (min-height: 850px) {

    .prev, .next{
        bottom: 40%;
    }
}

@media only screen and (min-height: 900px) {

    .prev, .next{
        bottom: 33%;
    }
}

@media only screen and (min-height: 950px) {

    .prev, .next{
        bottom: 40%;
    }
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */


/* ----------------------------------------------------------------- */
/* ---------------------- DISPLAY OF COMPUTER ---------------------- */

@media only screen and (min-width: 768px) {
    
    footer{
        padding-left: 0px;   
    }

    article { 
        padding: 40px; 
    }

    .wrap { 
        max-width: 750px; 
        margin: 50px auto;
        padding: 10px 40px;
    }

    p {
        font-size:initial;
    }

    /* ----------------------- POEM ----------------------- */

    #centered_content {
        margin: 0px auto 20px auto;
        height: 480px;
        width: 600px;
    }

    /* -------------------- FADING EFFECT -------------------- */

    .prev, .next {
        font-size: 18px;
    }
    
    /* ------------------------ IMAGE ------------------------ */

    #image{
        padding-top: 25px;
        max-height: 360px;
        max-width: 480px;
        animation: slide-in 0.2s both;
        animation-name: fade;
    }

    /* -------------------- Layout -------------------- */

    article .center {
        grid-template-rows: [title] 50px [poem] 400px [close_button];
    } 
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */
